<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kusa Store</title>
    <link rel='stylesheet' href={{ url_for( 'static', filename='css/woocommerce-layout.css' )}} type='text/css' media='all' />
    <link rel='stylesheet' href={{ url_for( 'static', filename='css/woocommerce-smallscreen.css' )}} type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href={{ url_for( 'static', filename='css/woocommerce.css')}} type='text/css'  media='all' />
    <link rel='stylesheet' href={{ url_for( 'static', filename='css/font-awesome.min.css' )}} type='text/css' media='all' />
    <link rel='stylesheet' href={{ url_for( 'static', filename='style.css' )}} type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
    <link rel='stylesheet' href={{ url_for( 'static', filename='css/easy-responsive-shortcodes.css' )}} type='text/css' media='all' />
</head>

<body class="single single-product woocommerce woocommerce-page">
    <div id="page">
        <div class="container">
            <header id="masthead" class="site-header">
                <div class="site-branding">
                    <h1 class="site-title"><a href="" rel="home">Kusa Store</a></h1>
                    <h2 class="site-description">Shop a large selection of officially licensed anime figures</h2>
                </div>
                <nav id="site-navigation" class="main-navigation">
                    <button class="menu-toggle">Menu</button>
                    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
                    <div class="menu-menu-1-container">
                        <ul id="menu-menu-1" class="menu">
                            <li><a href="">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="portfolio-item.html">Portfolio Item</a></li>
                                    <li><a href="blog-single.html">Blog Article</a></li>
                                    <li><a href="shop-single.html">Shop Item</a></li>
                                    <li><a href="portfolio-category.html">Portfolio Category</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- #masthead -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area column full">
                    <main id="main" class="site-main" role="main">
                        <div id="container">
                            <div id="content" role="main">
                                <nav class="woocommerce-breadcrumb" itemprop="breadcrumb"><a href="#">Home</a> / <a href="#">Clothing</a> / Beige Jacket</nav>
                                <div itemscope itemtype="http://schema.org/Product" class="product">
                                    <div class="images">
                                        <a href="" itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto">
                                            <img src="{{ producto.img_url }}" alt=""></img>
                                        </a>
                                    </div>
                                    <div class="summary entry-summary">
                                        <h1 itemprop="name" class="product_title entry-title">{{ producto.nombre }}</h1>
                                        <div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span itemprop="reviewCount" class="count">{{ producto.stock }}</span> available)</a>
                                        </div>
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <p class="price">
                                                <span class="amount">${{ producto.precio }}.00</span>
                                            </p>
                                            <meta itemprop="price" content="{{ producto.precio }}" />
                                            <meta itemprop="priceCurrency" content="USD" />
                                            <link itemprop="availability" href="http://schema.org/InStock" />
                                        </div>
                                        <div itemprop="description">
                                            <p>
                                                {{ producto.descripcion }}
                                            </p>
                                        </div>
                                            <button type="submit" class="single_add_to_cart_button button alt"><a id="{{producto.nombre}}"  class="button" onclick="comprar(this.id)">Comprar producto</a></button>
                                        <div class="product_meta">
                                            <span class="posted_in">Categories: 
									<a href="#" rel="tag">Clothing</a>, 
									<a href="#" rel="tag">Hoodies</a>
									</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <footer id="colophon" class="site-footer">
            <div class="container">
                <div class="site-info">
                    <h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Moschino</h1>
                    <a target="blank" href="https://www.wowthemes.net/">&copy; PROYECTO DE DBP</a>
                </div>
            </div>
        </footer>
        <a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
    </div>
    <!-- #page -->
    <script src={{ url_for( 'static', filename='js/jquery.js' )}}></script>
    <script src={{ url_for( 'static', filename='js/plugins.js' )}}></script>
    <script src={{ url_for( 'static', filename='js/scripts.js' )}}></script>
    <script src={{ url_for( 'static', filename='js/shop.js' )}}></script>
    <script src={{ url_for( 'static', filename='js/masonry.pkgd.min.js' )}}></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
</body>

</html>