<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kusa Store</title>
    <link rel='stylesheet' href={{ url_for('static', filename='css/woocommerce-layout.css' ) }} type='text/css' media='all' />
    <link rel='stylesheet' href={{ url_for('static', filename='css/woocommerce-smallscreen.css' )}} type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href={{ url_for('static', filename='css/woocommerce.css' )}} type='text/css' media='all' />
    <link rel='stylesheet' href={{ url_for('static', filename='css/font-awesome.min.css' )}} type='text/css' media='all' />
    <link rel='stylesheet' href={{ url_for('static', filename='style.css' )}} type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all' />
    <link rel='stylesheet' href={{ url_for( 'static', filename='css/easy-responsive-shortcodes.css' ) }} type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
{% if current_user.is_authenticated %}
<nav class="uk-navbar-container" uk-navbar>
    {% if current_user.is_admin %}
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/createproduct">Crear producto</a></li>
            <li><a href="/updateproduct">Actualizar producto</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="uk-navbar-center">
        {{ current_user.username }}
        Rol:
        {% if current_user.is_admin %}
        Administrador
        {% else %}
        Client
        {% endif %}
    </div>
    
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a id="logout" onclick="logout()"><span class="uk-margin-small-right" uk-icon="icon:  sign-out; ratio: 2"></span></a></li>
        </ul>
    </div>
</nav>
{% else %}
<nav class="uk-navbar-container" uk-navbar>   
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/login"><span class="uk-margin-small-right" uk-icon="icon:  sign-in; ratio: 2"></span></a></li>
        </ul>
    </div>
</nav>
{% endif %}
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
    <div id="page">
        <div class="container">
            <header id="masthead" class="site-header">
                <div class="site-branding">
                    <h1 class="site-title"><a href="/" rel="home">Kusa Store</a></h1>
                    <h2 class="site-description">Shop a large selection of officially licensed anime figures</h2>
                </div>
                <nav id="site-navigation" class="main-navigation">
                    <button class="menu-toggle">Menu</button>
                    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
                    <div class="menu-menu-1-container">
                        <ul id="menu-menu-1" class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/">About</a></li>
                            <li><a href="/">Shop</a></li>
                            <li><a href="/">Blog</a></li>
                            <li><a href="/">Elements</a></li>
                            <!--
                            <li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="portfolio-item.html">Portfolio Item</a></li>
                                    <li><a href="blog-single.html">Blog Article</a></li>
                                    <li><a href="shop-single.html">Shop Item</a></li>
                                    <li><a href="portfolio-category.html">Portfolio Category</a></li>
                                </ul>
                            </li>-->
                            <li><a href="/">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-margin-remove"  style="width: 120%;">
                        <div id="primary" class="content-area column full">
                            <main id="main" class="site-main" role="main">
                                <ul class="products">
                                    {% if allproducts %} {% for product in allproducts %}
                                    <li class="product">
                                        {% if current_user.is_admin %}
                                            <a href="/deleteproduct?name={{product.nombre}}"><span style="margin-left: 150px;" uk-icon="icon: close; ratio: 1"></span></a>
                                        {% endif %}
                                        <a href="/singleproduct?name={{product.nombre}}">
                                            <img src="{{ product.img_url }}" alt="">
                                            <h3>{{ product.nombre }}</h3>
                                            <span class="price"><span class="amount">${{ product.precio }}</span></span>
                                        </a>
                                        {% if not current_user.is_authenticated %}
                                            <a href="/login" class="button">Comprar producto</a>
                                        {% elif not current_user.is_admin %}
                                            <a id="{{product.nombre}}"  class="button" onclick="comprar(this.id)">Comprar producto</a>
                                        {% endif %}
                                    </li>
                                    {% endfor %} {% endif %}
                                </ul>
                            </main>
                        </div>


                    </div>
                </div>
            </div>
            <!--
            <div id="content" class="site-content">
                <div id="primary" class="content-area column full">
                    <main id="main" class="site-main" role="main">
                        <p class="woocommerce-result-count">
                            Showing results
                        </p>
                        <form class="woocommerce-ordering" method="get">
                            <select name="orderby" class="orderby">
						<option value="menu_order" selected="selected">Default sorting</option>
						<option value="popularity">Sort by popularity</option>
						<option value="rating">Sort by average rating</option>
						<option value="date">Sort by newness</option>
						<option value="price">Sort by price: low to high</option>
						<option value="price-desc">Sort by price: high to low</option>
					</select>
                        </form>
                        <ul class="products">
                            {% if allproducts %} {% for product in allproducts %}
                            <li class="product">
                                {% if ifadmin %}
                                    <a href="/deleteproduct?name={{product.nombre}}"><span style="margin-left: 150px;" uk-icon="icon: close; ratio: 1"></span></a>
                                {% endif %}
                                <a href="/singleproduct?name={{product.nombre}}">
                                    <img src="{{ product.img_url }}" alt="">
                                    <h3>{{ product.nombre }}</h3>
                                    <span class="price"><span class="amount">${{ product.precio }}</span></span>
                                </a>
                                {% if not current_user.is_authenticated %}
                                    <a href="/login" class="button">Add to cart</a>
                                {% elif ifcliente %}
                                    <a id="{{product.nombre}}"  class="button" onclick="addtocart(this.id)">Add to cart</a>
                                {% endif %}
                            </li>
                            {% endfor %} {% endif %}
                        </ul>
                    </main>
                </div>
            </div>
-->

        </div>
        <footer id="colophon" class="site-footer">
            <div class="container">
                <div class="site-info">
                    <h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Kusa Store</h1>
                    <a target="blank" href="https://www.wowthemes.net/">&copy; Copyright 2021, Kusa Store</a>
                </div>
            </div>
        </footer>
        <a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
    </div>
    <!-- #page -->
    <!--<script src={{ url_for( 'static', filename='js/jquery.js' )}}></script>-->
    <script src={{ url_for( 'static', filename='js/shop.js' )}}></script>
    <script src={{ url_for( 'static', filename='js/plugins.js' )}}></script>
    <script src={{ url_for( 'static', filename='js/scripts.js' )}}></script>
    <script src={{ url_for( 'static', filename='js/masonry.pkgd.min.js' )}}></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
</body>

</html>