<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='/css/styles.css') }}>
        <title>Actualizar of Where2Buy</title>
    </head>
    <body>
        <div class="registration-form"> 
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>
                <div class="titulo">
                    <h2 style="color: #9fadca;text-align: center;padding: 0 0 15px;">Datos del Producto</h2>
                </div>
                <div class="form-group">
                    <!--<input type="text" class="form-control item" id="categoria" placeholder="Categoria">-->
                    <select type="text" class="form-control item" id="categoria" name="categoria" placeholder="Categoria">
                        <option value="default" disabled selected>Elegir categoría de producto</option>
                        <option value="frutasyverduras">Frutas y verduras</option>
                        <option value="carnes">Carnes</option>
                        <option value="bebidas">Bebidas</option>
                        <option value="limpieza">Artículos de limpieza</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" name="nombre" id="nombre" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" name="descripcion" id="descripcion" placeholder="Descripción">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" name="precio" id="precio" placeholder="Precio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" name="url" id="url" placeholder="URL">
                </div>
                <!--<div class="social-media">
                <h2>Subir imagen del producto</h2>
              
                <form method="post" action="/add_product" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
                        </p>
                    </dl>
                    <div class="form-group">
                    
                        <button type="submit" class="btn btn-block create-account" onclick="create_product()">Añadir Producto</button>
                    </div>
                </form>
                </div>-->
                <button type="submit" value="Submit">Registrar</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    {% if messages %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>
        <script type="text/javascript" src={{ url_for('static', filename='/js/libs/jquery-3.3.1.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='/js/agregado.js') }}></script>
    </body>
</html>
