<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='/css/styles.css') }}>
        <title>Eliminar un producto</title>
    </head>
    <body>
        <div class="registration-form">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" name="id" id="id" placeholder="Id del producto">
                </div>
                <button type="submit" value="Submit">Registrar</button>
            </form>
        </div>
        {% if delete_message %}
            {{ delete_message }}
        {% endif %}

        {% if productodatos %}
            Producto eliminado: {{ productodatos.nombre }}
            Categoría: {{ productodatos.categoria }}
        {% endif %}
        <script type="text/javascript" src={{ url_for('static', filename='/js/libs/jquery-3.3.1.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='/js/login.js') }}></script>
    </body>
</html>
